Source: control-center
Section: gnome
Priority: optional
Maintainer: Marco Cabizza <marco87@gmail.com>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Josselin Mouette <joss@debian.org>, Sebastian Dröge <slomo@debian.org>
Standards-Version: 3.8.1
Build-Depends: cdbs (>= 0.4.41),
               gnome-pkg-tools (>= 0.10),
               quilt,
               dpkg-dev (>= 1.13.19),
               debhelper (>= 5.0.0),
               docbook-to-man,
               autotools-dev,
               type-handling (>= 0.2.8),
               gnome-doc-utils (>= 0.3.2),
               intltool (>= 0.37.1),
               libxt-dev,
               libx11-dev,
               libxss-dev,
               libxxf86misc-dev,
               libgtk2.0-dev (>= 2.11.6),
               libglib2.0-dev (>= 2.17.4),
               libgconf2-dev,
               libgnomeui-dev (>= 2.16.0-2),
               libglade2-dev (>= 1:2.4.0),
               libgnome-desktop-dev (>= 2.23.90),
               librsvg2-dev,
               libgnome-menu-dev (>= 2.12.0),
               libpango1.0-dev (>= 1.17),
               libeel2-dev (>= 2.24),
               libpanel-applet2-dev,
               libdbus-1-dev (>= 0.32),
               libdbus-glib-1-dev (>= 0.32),
               libxml2-dev,
               libmetacity-dev (>= 1:2.23.1),
               gnome-settings-daemon-dev (>= 2.22.0),
               libxft-dev (>= 2.1.2),
               libxrender-dev,
               libxrandr-dev,
               libxcursor-dev,
               libgnomekbd-dev (>= 2.24),
               libxklavier12-dev (>= 3.6),
               libebook1.2-dev (>= 1.7.90),
               libhal-dev (>= 0.5.6),
               libgstreamer0.10-dev (>= 0.10.1.2),
               libgstreamer-plugins-base0.10-dev (>= 0.10.1.2),
               libcanberra-gtk-dev (>= 0.4),
               desktop-file-utils,
               shared-mime-info,
               libslab-dev,
               scrollkeeper

Package: gnome-control-center
Architecture: any
Section: gnome
Depends: ${shlibs:Depends},
         ${misc:Depends},
         capplets-data (>= ${gnome:Version}),
         capplets-data (<< ${gnome:NextVersion}),
         libgnome-window-settings1 (= ${binary:Version}),
         gnome-settings-daemon (>= 2.24),
         gnome-menus (>= 2.12.0),
         gnome-desktop-data,
         gnome-icon-theme (>= 2.24),
         desktop-file-utils
Recommends: bzip2,
            evolution-data-server,
            gnome-user-guide,
            gnome-session
Replaces: capplets
Conflicts: capplets,
           gnome-session (<< 2.22.0)
Suggests: libcanberra-gtk-module,
          gnome-screensaver | xscreensaver,
          x11-xserver-utils,
          gstreamer0.10-alsa | gstreamer0.10-audiosink
Description: utilities to configure the GNOME desktop
 This package contains configuration applets for the GNOME desktop,
 allowing to set accessibility configuration, desktop fonts, keyboard
 and mouse properties, sound setup, desktop theme and background, user
 interface properties, screen resolution, and other GNOME parameters.
 .
 It also contains a front end to these applets, which can also be
 accessed with the GNOME panel or the Nautilus file manager.

Package: capplets-data
Architecture: all
Section: gnome
Depends: ${misc:Depends}
Recommends: gnome-control-center (>= ${source:Version})
Suggests: rarian-compat | scrollkeeper
Description: configuration applets for GNOME 2 - data files
 This package contains data files (icons, pixmaps, locales files) needed by
 the configuration applets in the gnome-control-center package.

Package: libgnome-window-settings1
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces: gnome-control-center (<< 1:2.14.1-1),
          capplets
Conflicts: capplets
Description: Utility library for getting window manager settings
 This package contains the libwindow-settings library, which is used by
 the GNOME window managers.

Package: libgnome-window-settings-dev
Architecture: all
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libgnome-window-settings1 (>= ${source:Version})
Replaces: gnome-control-center (<< 1:2.14.1-1)
Description: Utility library for getting window manager settings (headers)
 This package contains the libwindow-settings library header files.

Package: gnome-control-center-dev
Architecture: all
Section: devel
Conflicts: libgnome-settings-daemon-dev
Replaces: libgnome-settings-daemon-dev
Depends: ${misc:Depends}
Description: utilities to configure the GNOME desktop
 This package contains the file required to get the keydirs location

