Source: control-center
Section: gnome
Priority: optional
Maintainer: Arnaud Patard <arnaud.patard@rtp-net.org>
Uploaders: Marc Dequènes (Duck) <Duck@DuckCorp.org>, Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Akira TAGOH <tagoh@debian.org>, Andreas Rottmann <rotty@debian.org>, Andrew Lau <netsnipe@users.sourceforge.net>, Carlos Perelló Marín <carlos@pemas.net>, Ed Boraas <ed@debian.org>, Edd Dumbill <ejad@debian.org>, Emil Soleyman-Zomalan <emil@nishra.com>, Gustavo Noronha Silva <kov@debian.org>, J.H.M. Dassen (Ray) <jdassen@debian.org>, Joe Drew <drew@debian.org>, Johannes Rohr <j.rohr@comlink.org>, Jordi Mallach <jordi@debian.org>, Jose Carlos Garcia Sogo <jsogo@debian.org>, Josselin Mouette <joss@debian.org>, Loic Minier <lool@dooz.org>, Marc 'HE' Brockschmidt <he@debian.org>, Ondřej Surý <ondrej@debian.org>, Rob Bradford <rob@debianplanet.org>, Robert McQueen <robot101@debian.org>, Ross Burton <ross@debian.org>, Sebastien Bacher <seb128@debian.org>, Sjoerd Simons <sjoerd@debian.org>, Takuo KITAME <kitame@debian.org>
Standards-Version: 3.6.2
Build-Depends: cdbs, gnome-pkg-tools, debhelper (>= 4.0.2), libgnomeui-dev (>= 2.8.1-3), intltool, libglade2-dev (>= 2.4.0-1), libgnome-desktop-dev (>= 2.7.92-1), zlib1g-dev, flex,liborbit2-dev (>= 2.10.2-1.1), libmetacity-dev (>= 1:2.8.1-3), libxcursor-dev, libbonobo2-dev (>= 2.6.2-6), libnautilus-extension-dev, libgtk2.0-dev (>=2.4.9-1), libxklavier-dev (>= 1.14), libxrandr-dev, xlibs-static-dev, docbook-to-man, libgstreamer-plugins0.8-dev, autotools-dev, type-handling (>= 0.2.8), libasound2-dev (>= 1.0.3b-1) | not+linux-gnu, libgnome-menu-dev 

Package: gnome-control-center
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, ${misc:Depends}, capplets-data (= ${Source-Version}), gnome-menus, gnome-desktop-data, gnome-icon-theme (>= 1.2.3-1), xlibs, desktop-file-utils
Replaces: capplets
Provides: capplets
Conflicts: capplets
Recommends: gnome2-user-guide, gnome-session
Suggests: esound-clients, xscreensaver (>= 4.0), xbase-clients, gstreamer0.8-alsa | gstreamer0.8-oss | gstreamer0.8-esd
Description: utilities to configure the GNOME desktop
 This package contains configuration applets for the GNOME desktop,
 allowing to set accessibility configuration, desktop fonts, keyboard
 and mouse properties, sound setup, desktop theme and background, user
 interface properties, screen resolution, and other GNOME parameters.
 .
 It also contains a front end to these applets, which can also be
 accessed with the GNOME panel or the Nautilus file manager.

Package: capplets-data
Architecture: all
Section: gnome
Depends: scrollkeeper (>= 0.3.14-5), ${misc:Depends}
Recommends: gnome-control-center (= ${Source-Version})
Description: configuration applets for GNOME 2 - data files
 This package contains data files (icons, pixmaps, locales files) needed by
 the configuration applets in the gnome-control-center package.
