[Desktop Entry]
Encoding=UTF-8
Name=Apply theme
Exec=themus-theme-applier %u
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-gnome-theme-installed
